.App {
  font-family: sans-serif;
  text-align: center;
  background-image: linear-gradient(to right, #556270, #ff6b6b);
  padding: 40px 30px;
  height: 100vh;
}

.InputStyles {
  background-color: white;
  border-style: none;
  box-shadow: 3px 4px 4px;
  width: 50%;
  height: 30px;
  font-size: 20px;
  opacity: 0.9;
}
.ButtonStyles {
  width: 125px;
  margin-top: 30px;
  height: 35px;
  font-size: 15px;
  border-radius: 20px;
  background-color: #1ee07f;
}
.ButtonStyles:hover {
  box-shadow: 1px 0px 4px 2px;
  background-color: #f07573;
  /* color:#fff; */
}
